@media (min-width: 1537px) {

    /**************INSTRUCCIONES************/

    #instrucciones-box{
        width: 600px;
        padding: 40px;
    }
    #instrucciones2-box{
        width: 550px;
    }
    #informacion-box{
        width: 80%;
    }

    #instrucciones-box > img{
        width: 140px;
        margin-bottom: 20px;
    }
    #instrucciones-box > h2{
        font-size: 1.8rem;
        margin-bottom: 25px;
    }
    #instrucciones-box > p{
        font-size: 1.25rem;
    }
    .instrucciones-box-row{
        margin: 35px 0px;
    }
    .instrucciones-box-col h3{
        font-size: 2.2rem;
        margin-bottom: 5px;
    }
    .instrucciones-box-col p{
        font-size: 1.3rem;
    }

    /**************informacion************/

    .informacion-box-header{
        padding: 15px;
    }
    .informacion-box-header h1,
    .instrucciones2-box-header h1{
        font-size: 1.6rem;
    }
    .informacion-box-header h1{
        margin-bottom: 5px;
    }
    .informacion-box-header h2{
        font-size: 1.3rem;
    }

    .informacion-box-body-card{
        width: 50%;
        width: calc((100% - (20px * 3)) / 2);
        width: -moz-calc((100% - (20px * 3)) / 2);
        padding: 20px;
        margin: 20px 0px;
    }
    .informacion-body-card-title{
        margin-bottom: 20px;
    }

    .informacion-body-card-title div{
        width: 70px;
        height: 70px;
        margin-right: 20px;
    }
    .informacion-body-card-title div img{
        width: 50px;
    }
    .informacion-body-card-title h3{
        width: auto;
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        font-size: 1.6rem;
    }
    .informacion-body-card-title p{
        padding: 7px 15px;
        font-size: 1.3rem;
    }
    .informacion-body-card-list li{
        min-height: 20px;
        margin-bottom: 7px;
        padding-left: 30px;

        font-size: 1.05rem;
        background-size: 17px 17px;
        background-position: 0px 3px;
    }

    .informacion-box-botones,
    .instrucciones2-box-botones{
        padding: 15px 20px;
    }
    /***********instrucciones 2*******/

    .instrucciones2-box-col{
        margin-bottom: 15px;
    }
    .instrucciones2-box-col > img{
        width: 90px;
        margin-right: 10px;
    }
    .instrucciones2-box-col > p{
        width: auto;
        width: calc(100% - 100px);
        width: -moz-calc(100% - 100px);
        font-size: 1.4rem;
    }

    .instrucciones-box-btn1,
    .instrucciones-box-btn2,
    .instrucciones2-box-btn{
        padding: 12px;
        font-size: 1.4rem;
    }
    .instrucciones-box-btn1,
    .instrucciones-box-btn2{
        width: 420px;
    }
    .instrucciones-box-btn1{
        margin-bottom: 10px;
    }

    #cubo-title{
        padding: 15px 25px;
        font-size: 1.5rem;
    }

    #tooltip{
        max-width: 600px;
        padding: 20px;
    }
    #tooltip p{
        font-size: 1.25rem;
    }

    .punto{
        width: 40px;
        height: 40px;
    }
}